@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.text {
  font-style: italic;
  font-size: 2vh;
}

.time {
  font-size: 6vh;
}

a {
  color: black;
}

footer {
  font-size: 2vh;
  position: fixed;
  right: 1%;
  bottom: 0;
}
